@font-face{
	font-family: "dali";
	src: url("fonts/Dali.ttf");
}

*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: "yanone", Arial;
	font-size: 20px;
	background: #EEEEEE;
	background-attachment: fixed;
}


.logofuente{
	font-family: "yanone", Arial;
	font-size: 40px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

#logo{
	width: 100px;
}
header{
	width: 100%;
	height: 150px;
	position: fixed;
	background: white;
	background-attachment: fixed;
	border: 1px solid #eeeeee;
}

header a{
	text-decoration: none;
	color: black;
	transition: color 700ms, transform 700ms;	
}


header a:hover{
	background: rgba(0,0,0,0.5);
	border-radius: 5px;
	color: white;
	font-size: 18px;
	transform: scale(1.2,1.2);
}

.subtituloprincipal{
	font-size: 15px;
	text-align: center;
}

.clearfix{
	float: none;
	clear: both;
}

#content{
	min-height: 485px;
	padding-top: 150px;
	width: 80%
}

.container{
	padding: 50px;
	padding-top: 10px;
}

.container h2{

	margin-left: 15%;
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;

}

.box{
	width: 40%;
	height: 200px;
	float: left;
	margin: 20px;
	overflow:hidden;
	background-color:#dedede;
	border:1px solid #afcde3;
	border-width: 1px;
	border-radius: 15px;
	padding:20px;
	padding-right: 20px;
	padding-left: 20px;
	text-align: center;
}

#menu li{
	padding-top: 20px;
	padding-bottom:  20px;	
	text-decoration: none;
	list-style: none;
	color:#999999;
	transition: color 500ms, transform 500ms;
}

#menu a{
	text-decoration: none;
	color:#999999;
}

#menu li:hover{
	background: rgba(0,0,0,0.8);
	transform: scale(1.1,1.1);
	color:white;
}

#menu a:hover{
	color:white;
}


/*Formularios carga y muestra*/

form{
	width: 80%;
	margin-left: 15%;
}


form label {
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;

}

form input[type="text"],
form input[type="numeric"],
form input[type="email"],
form textarea{
	width: 40%;
	padding: 5px;

}


form button,
form input[type="submit"],
form input[type="button"],
.button-edit,
.button-delete{
	display:  block;
	font-size: 16px;
	padding: 10px;
	margin-top: 15px;
	color: white;
	background: rgba(53,103,164,1);
	border: 1px solid  rgba(13,67,133,1);
	cursor: pointer;
}


form button:hover,
form input[type="button"]:hover,
form input[type="submit"]:hover{
	background: rgba(53,103,164,0.8);
	border: 1px solid  rgba(13,67,133,1);
	cursor:pointer;
}

form input[disabled]{
	opacity: 0.4;
	cursor: not-allowed;
}

.form_error{
	font-size: 13px;
	color: red;
	padding: 10px;
}

.message{
	width: 80%;
	padding: 5px;
	margin-left: 15%;
}

.success{
	color: #256d7b;
}

.message a{
	color: #256d7b;
}

.failed {
	color: #a32a3e;
}

#lis-ips{
	margin-top: 10px;
	border: 1px solid  rgba(13,67,133,1);
	border-radius: 5px;
	padding-top:  10px;
	padding-bottom:  10px;
}


#lis-ips ul li{
	padding: 5px;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
	list-style-type: none;
	cursor:pointer;
	border-bottom: 1px solid  rgba(13,67,133,1);	
}


#agregar{
	font-size: 14px;
	padding: 5px;
	margin-top: 10px;
	color: white;
	background: rgba(53,103,164,1);
	border: 1px solid  rgba(13,67,133,1);
	cursor: pointer;
}